@using vidya.Web.DTOs.Games
@model IEnumerable<GameDTO>
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form asp-action="Index" asp-controller="Game" method="get" class="d-flex">
                <input type="text" name="name" class="form-control" value="@ViewData["name"]" placeholder="Search games by name..." />
                <button type="submit" class="btn btn-primary ms-2">Search</button>
            </form>
        </div>
    </div>


    <div class="row mt-4">
        @foreach (var game in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="@game.ImageUrl" class="card-img-top" alt="@game.Name" style="height: 200px; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title">@game.Name</h5>
                        <p class="card-text">Price: $@game.Price</p>
                        <a asp-action="Details" asp-controller="Game" asp-route-id="@game.Id" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
